[submodule ".config/vis/plugins/vis-ctags"]
	path = .config/vis/plugins/vis-ctags
	url = https://github.com/kupospelov/vis-ctags
[submodule ".config/vis/plugins/vis-commentary"]
	path = .config/vis/plugins/vis-commentary
	url = https://github.com/lutobler/vis-commentary
[submodule ".config/vis/plugins/vis-pairs"]
	path = .config/vis/plugins/vis-pairs
	url = https://repo.or.cz/vis-pairs.git
[submodule ".config/vis/plugins/vis-surround"]
	path = .config/vis/plugins/vis-surround
	url = https://repo.or.cz/vis-surround.git
