[submodule ".config/vis/plugins/vis-ctags"]
	path = .config/vis/plugins/vis-ctags
	url = https://github.com/kupospelov/vis-ctags.git
[submodule ".config/vis/plugins/vis-commentary"]
	path = .config/vis/plugins/vis-commentary
	url = https://github.com/lutobler/vis-commentary.git
[submodule ".config/vis/plugins/vis-pairs"]
	path = .config/vis/plugins/vis-pairs
	url = https://repo.or.cz/vis-pairs.git
[submodule ".config/vis/plugins/vis-surround"]
	path = .config/vis/plugins/vis-surround
	url = https://repo.or.cz/vis-surround.git
[submodule ".config/awesome/plugins/awesome-wm-widgets"]
	path = .config/awesome/plugins/awesome-wm-widgets
	url = https://github.com/streetturtle/awesome-wm-widgets.git
[submodule ".config/awesome/plugins/awesomewm-screenshot"]
	path = .config/awesome/plugins/awesomewm-screenshot
	url = https://github.com/denisoster/awesomewm-screenshot.git
[submodule ".config/awesome/plugins/keyboard_layout"]
	path = .config/awesome/plugins/keyboard_layout
	url = https://github.com/echuraev/keyboard_layout.git
[submodule ".config/awesome/plugins/awesome-volume"]
	path = .config/awesome/plugins/awesome-volume
	url = https://github.com/alhassanaraouf/awesome-volume.git
[submodule ".config/luakit/plugins/luakit-pass"]
	path = .config/luakit/pass
	url = https://github.com/arcnmx/luakit-pass.git
[submodule ".config/vis/plugins/vis-editorconfig"]
	path = .config/vis/plugins/vis-editorconfig
	url = https://github.com/seifferth/vis-editorconfig
